*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-size: 20px;
    font-weight:500;
}

body{
    background-color: black;
}

.container{
    display: grid;
    /* grid-template-rows: 200px 200px;
    grid-template-columns: 200px 200px ; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: pink;
    gap:10px;
    padding:10px;
    height: 400px;
    width: 400px;
    /*check it on inspect after each step*/
}

/* .Box{
    border: 5px solid blue;
    margin:5px;
} */

.first{
    background-color: aqua;
}

.second{
    background-color: palevioletred;
}

.third{
    background-color: yellow;
}

.fourth{
    background-color: red;
}