#container{
    height:300px;
    width:400px;
    background-color:white;
    position:relative;
}

#circle{
    height:150px;
    width:150px;
    background-color:red;
    border-radius:50%;
    position: absolute;
    left: 120px;
    top: 70px;
}